<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black h-[100vh]">
<div class="flex flex-col items-center justify-center gap-9">
    <div class="flex flex-col items-center justify-center max-w-[1000px]">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl">
            Welcome to <span class="text-blue-700">Hermes</span>!
        </h1>
        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">
            An End-to-End Payment Gateway application developed using Spring Boot, leveraging OOAD principles with support for payments, stock investments, and much more.
        </p>
    </div>

    <div class="container text-white  p-4 rounded-lg shadow-md text-center max-w-[800px] mx-auto bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100">
        <h1 class="text-blue-700">Home Page</h1>
        <p th:text="'Welcome, ' + ${currUser?.name ?: 'Guest'}"></p>
        <p th:text="'Current Balance: ' + ${currUser?.balance ?: 0}"></p>
        <p th:text="'Phone Number: ' + ${currUser?.phoneno ?: 'N/A'}"></p>
        <p th:text="'Account Type: ' + ${currUser?.accountType ?: 'N/A'}"></p>

        <hr class="my-4" />

        <form class="transaction-form text-black" action="/transaction/make" method="post">
            <input type="hidden" id="fromAccountId" name="fromAccountId" th:value="${currUser?.accountId}" />
            <div class="flex flex-wrap justify-between items-center mb-4">
                <label for="toAccountId" class="w-full md:w-1/3 text-white">To Account ID:</label>
                <input type="text" id="toAccountId" name="toAccountId" required class="w-full md:w-2/3 p-2 border border-gray-300 text-black rounded-md" />
            </div>
            <div class="flex flex-wrap justify-between items-center mb-4">
                <label for="amount" class="w-full md:w-1/3 text-white">Amount:</label>
                <input type="text" id="amount" name="amount" required class="w-full md:w-2/3 p-2 border border-gray-300 rounded-md" />
            </div>
            <button type="submit" class="w-full p-3 bg-blue-700 text-white rounded-md hover:bg-blue-500 transition ease-in duration-100">Make Transaction</button>
        </form>
        <hr class="my-4" />
    </div>
    <a href="/stockList" class="p-3 bg-blue-700 text-white rounded-md hover:bg-blue-500 transition ease-in duration-100 mb-10">See avaliable stocks</a>
</div>
</body>
</html>
