<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Status</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black">
<div class="flex flex-col items-center justify-center gap-9">
    <div class="flex flex-col items-center justify-center max-w-[1000px]">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl">
            Payment Status
        </h1>
        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">
            Check the status of your payment here.
        </p>
    </div>

    <div class="container bg-white p-4 rounded-lg shadow-md text-center max-w-[800px] mx-auto">
        <div class="user-info flex justify-center items-center mb-4">
            <p th:text="${currUser.name}"></p>
            <span class="arrow text-2xl mx-2">➜</span>
            <p th:text="${receiverUser.name}"></p>
        </div>
        <p th:text="${transactionSuccess ? 'Payment Successful' : 'Payment Failed'}" class="${transactionSuccess ? 'text-green-500' : 'text-red-500'}"></p>
        <br />
        <p th:if="${transactionSuccess and reward != null}" th:text="'Reward: ' + ${reward}" class="text-green-500"></p>
        <hr />
        <br />
        <br />
        <br />
        <a th:href="@{/login}" class="mt-4 bg-blue-700 text-white p-3 rounded-md hover:bg-blue-500 transition ease-in duration-100">Go to Home</a>
    </div>
</div>
</body>
</html>
